<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Pronto Menu</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Restaurant Pronto</h1>
  </header>
  <main>
    <h2>Pizza</h2>
    <ul>
      <li>Pizza Margherita - $7.00<br>Tomato sauce, oregano, garlic and fresh basil</li>
      <li>Pizza Capricciosa - $7.00<br>Tomato sauce, mozzarella, ham, artichoke, black olives, parmesan and basil</li>
      <li>Pizza al Salame - $7.00<br>Tomato sauce, mozzarella, salarni sausage, mixed green and black olives and basil</li>
      <li>Pizza Prosciutto e Funghi - $7.00<br>Tomato sauce, mozzarella, prosciutto, mushrooms, basil</li>
      <li>Pizza Primavera - $7.00<br>Tomato sauce mozzarella, red peppers mashrooms, black olives, sweet corn, onions</li>
      <li>Pizza Pronto - $7.00<br>Splitted half/half. For each half you can choose your own toppings</li>
    </ul>
    <h2>Pasta</h2>
    <ul>
      <li>Traditional Lasagna - $11.00<br>Home made nama, grounit heet, tomato saure, mchamel sauce and parmesan</li>
      <li>Spaghetti Pomodoro - $7.00</li>
    </ul>
  </main>
</body>
</html>