<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      background-color: #f0f0f0; /* Set background color here */
    }

    #left-container {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    height: 100vh; /* 100% of the viewport height */
}

.video-background {
    max-width: 100%; /* Set maximum width to 100% of its container */
    max-height: 100%; /* Set maximum height to 100% of its container */
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

    #right-container {
      width: 75%;
      min-height: 100vh;
      background-color: #f0f0f0;
      padding: 20px;
      box-sizing:border-box;
    }

    #restaurant-image {
      width: 100%;
      height: 70%;
    }

    .restaurant-info {
      margin-top: 20px;
    }

    .stars {
      color: #FFD700; /* Gold color for stars */
    }

    .menu-container {
      background-color: #fff;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .menu-title {
      font-family: 'Style Script', cursive;
      font-size: 30px;
      margin-bottom: 10px;
      width: 100%;
      text-align: right;
    }

    .menu-category {
      width: 50%; /* Two categories per row */
      box-sizing: border-box;
      padding: 0 10px;
      margin-bottom: 20px;
    }

    .menu-item {
      display: flex;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      margin:10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: calc(90% - 10px); /* Adjusted width for menu item containers */
    }

    .food-image {
      width: 80%;
      height: 260px;
      object-fit: cover;
    }

    .food-details {
      padding: 10px;
      width: 60%;
    }

    .rating {
      margin-bottom: 10px;
    }

    .add-to-cart {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div id="left-container" >
     <video class="video-background" autoplay loop muted>
       <source src="/static/icecream.mp4" type="video/mp4">
    </video>

    <div class="restaurant-info">
      <h1>The Vanilla Bean</h1>
      <p>Hotel Location: Bill street, Bottle nagar, kochi , India</p>
      <p>Opening Hours: 8:00 AM - 9:00 PM (weekdays) and 10:00 AM - 3:00 PM(weekends)</p>
      <!-- Add other restaurant information as needed -->
    </div>
  </div>

  <div id="right-container">
    <div class="menu-container">
      <div class="menu-category">
        <h2 class="menu-title">Scoops</h2>
        <div class="menu-item">
          <img src="/static/chocolate_scoop.jpg" alt="starter1" class="food-image" style="width:250px; height:260px;">

          <div class="food-details">
            <h3>Chocolate Scoop</h3>
            <p>Price: 60/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="scoop1">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','scoop1')">-</button>
      <input type="number" id="scoop1" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','scoop1')">+</button>
    </div>
           <button id="addToCartBtnscoop1" onclick="addToCart('Chocolate Scoop',60, 'scoop1','/static/chocolate_scoop.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

      </div>
      <!-- Left side for Desserts -->


 <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/vinalla_scoop.jpg" alt="starter3" class="food-image" style="width:250px; height:260px;">
          <div class="food-details">
            <h3>Vanilla Scoop</h3>
            <p>Price: 40/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="scoop2">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','scoop2')">-</button>
      <input type="number" id="scoop2" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','scoop2')">+</button>
    </div>
             <button id="addToCartBtnscoop2" onclick="addToCart('Vanilla Scoop',40, 'scoop2','/static/vinalla_scoop.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
        <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/strawberry_scoop.jpg" alt="starter3" class="food-image" style="width:390px; height:260px;">
          <div class="food-details">
            <h3>Strawberry Scoop</h3>
            <p>Price: 50/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="scoop3">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','scoop3')">-</button>
      <input type="number" id="scoop3" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','scoop3')">+</button>
    </div>
             <button id="addToCartBtnscoop3" onclick="addToCart('Strawberry Scoop',50, 'scoop3','/static/strawberry_scoop.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
        <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/mint_scoop.jpg" alt="starter3" class="food-image" style="width:190px; height:260px;">
          <div class="food-details">
            <h3>Mint Scoop</h3>
            <p>Price: 70/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="scoop4">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','scoop4')">-</button>
      <input type="number" id="scoop4" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','scoop4')">+</button>
    </div>
             <button id="addToCartBtnscoop4" onclick="addToCart('Mint Scoop',70, 'scoop4','/static/mint_scoop.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>

      <div class="menu-category">
        <h2 class="menu-title">Mochi</h2>

        <!-- Desserts - Food Item 1 -->
        <div class="menu-item">
          <img src="/static/lavendar_mochi.jpg" alt="main1" class="food-image" style="width:250px; height:260px;">
          <div class="food-details">
            <h3>Black Berry Mochi</h3>
            <p>Price:110/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="mochi1">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','mochi1')">-</button>
      <input type="number" id="mochi1" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','mochi1')">+</button>
    </div>
             <button id="addToCartBtnmochi1" onclick="addToCart('Black Berry Mochi',110, 'mochi1','/static/lavendar_mochi.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

      </div>
      <!-- Left side for Desserts -->


 <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/oreo_mochi.jpg" alt="main2" class="food-image" style="width:250px; height:260px;">
          <div class="food-details">
            <h3>Oreo Mochi</h3>
            <p>Price:150/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="mochi2">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','mochi2')">-</button>
      <input type="number" id="mochi2" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','mochi2')">+</button>
    </div>
            <button id="addToCartBtnmochi2" onclick="addToCart('Oreo Mochi',150, 'mochi2','/static/oreo_mochi.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/strawberry_mochi.jpg" alt="main3" class="food-image" style="width:250px; height:260px;">
          <div class="food-details">
            <h3>Strawberry Mochi</h3>
            <p>Price: 100/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="mochi3">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','mochi3')">-</button>
      <input type="number" id="mochi3" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','mochi3')">+</button>
    </div>
            <button id="addToCartBtnmochi3" onclick="addToCart('Strawberry Mochi',100, 'mochi3','/static/strawberry_mochi.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
       <div class="menu-item">
  <img src="/static/mochi_chocolate.jpg" alt="main4" class="food-image" style="width:250px;height:250px">
  <div class="food-details">
    <h3>Chocolate Mochi </h3>
    <p>Price:120/-</p>
    <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="mochi4">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-','mochi4')">-</button>
      <input type="number" id="mochi4" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','mochi4')">+</button>
    </div>
    <button id="addToCartBtnmochi4" onclick="addToCart('Chocolate Mochi', 120, 'mochi4','/static/mochi_chocolate.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
  </div>
</div>

   </div>


      <div class="menu-category">
        <h2 class="menu-title">Cones</h2>

        <!-- Desserts - Food Item 1 -->
        <div class="menu-item">
          <img src="/static/cone_choco.jpg" alt="main1" class="food-image">
          <div class="food-details">
            <h3>Chocolate Cone</h3>
            <p>Price:90/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="cone1">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'cone1')">-</button>
      <input type="number" id="cone1" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','cone1')">+</button>
    </div>
            <button id="addToCartBtncone1" onclick="addToCart('Chocolate Cone', 90, 'cone1','/static/cone_choco.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

      </div>
      <!-- Left side for Desserts -->


 <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/cotton_candy_cone.jpg" alt="main2" class="food-image">
          <div class="food-details">
            <h3>Cotton Candy Cone</h3>
            <p>Price:130/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="cone2">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'cone2')">-</button>
      <input type="number" id="cone2" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'cone2')">+</button>
    </div>
            <button id="addToCartBtncone2" onclick="addToCart('Cotton Candy Cone', 130, 'cone2','/static/cotton_candy_cone.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/banana_cone.jpg" alt="main3" class="food-image">
          <div class="food-details">
            <h3>Banana Vanilla Cone</h3>
            <p>Price:150/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="cone3">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'cone3')">-</button>
      <input type="number" id="cone3" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'cone3')">+</button>
    </div>

    <button id="addToCartBtncone3" onclick="addToCart('Banana Vanilla Cone', 150, 'cone3','/static/banana_cone.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
       <div class="menu-item">
  <img src="/static/vanilla_cone.jpg" alt="main4" class="food-image" style="width:300px; height:260px;" >
  <div class="food-details">
    <h3>Vanilla Cone</h3>
    <p>Price: 130/-</p>
    <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="cone4">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'cone4')">-</button>
      <input type="number" id="cone4" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'cone4')">+</button>
    </div>
    <button id="addToCartBtncone4" onclick="addToCart('Vanilla Cone', 130, 'cone4','/static/vanilla_cone.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
  </div>
</div>


   </div>
        <div class="menu-category">
        <h2 class="menu-title">Sorbets</h2>
        <div class="menu-item">
          <img src="/static/mango_sorbet.jpg" alt="main1" class="food-image" style="width:60%">
          <div class="food-details">
            <h3>Mango Sorbet</h3>
            <p>Price:90/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="sorbet1">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'sorbet1')">-</button>
      <input type="number" id="sorbet1" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','sorbet1')">+</button>
    </div>
            <button id="addToCartBtnsorbet1" onclick="addToCart('Mango Sorbet', 90, 'sorbet1','/static/mango_sorbet.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

      </div>
      <!-- Left side for Desserts -->



      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
          <div class="menu-item">
          <img src="/static/watermelon_sorbet.jpg" alt="main4" class="food-image" >
      <div class="food-details">
    <h3>Watermelon Sorbet</h3>
    <p>Price: 100/-</p>
    <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="sorbet4">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'sorbet4')">-</button>
      <input type="number" id="sorbet4" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'sorbet4')">+</button>
    </div>
    <button id="addToCartBtnsorbet4" onclick="addToCart('Watermelon Sorbet', 100, 'sorbet4','/static/watermelon_sorbet.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
  </div>


    </div>

</div>
        <div class="menu-category">
        <h2 class="menu-title">Popsticles</h2>

        <!-- Desserts - Food Item 1 -->
        <div class="menu-item">
          <img src="/static/pineaaple_sorbet.jpg" alt="main1" class="food-image">
          <div class="food-details">
            <h3>Pineapple Popsticle</h3>
            <p>Price:60/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="popsticle1">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'popsticle1')">-</button>
      <input type="number" id="popsticle1" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+','popsticle1')">+</button>
    </div>
            <button id="addToCartBtnpopsticle1" onclick="addToCart('Pineapple Popsticle', 90, 'popsticle1','/static/pineaaple_sorbet.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

      </div>
      <!-- Left side for Desserts -->


 <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/watermelon_popsicle.jpg" alt="main2" class="food-image" style="width:250px; height:250px;">
          <div class="food-details">
            <h3>Watermelon Popsticle</h3>
            <p>Price:70/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="popsticle2">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'popsticle2')">-</button>
      <input type="number" id="popsticle2" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'popsticle2')">+</button>
    </div>
            <button id="addToCartBtnpopsticle2" onclick="addToCart('Cotton Candy Cone', 70, 'popsticle2','/static/watermelon_popsicle.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
        <div class="menu-item">
          <img src="/static/berry_mango_popsicle.jpg" alt="main3" class="food-image">
          <div class="food-details">
            <h3>Berry Mango Popsicle</h3>
            <p>Price:100/-</p>
            <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="popsticle3">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'popsticle3')">-</button>
      <input type="number" id="popsticle3" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'popsticle3')">+</button>
    </div>

    <button id="addToCartBtnpopsticle3" onclick="addToCart('Berry Mango Popsicle', 100, 'popsticle3','/static/berry_mango_popsicle.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
          </div>
        </div>

   </div>
      <div class="menu-category">

        <h2 class="menu-title">


        &nbsp</h2>
        <!-- Desserts - Food Item 2 -->
       <div class="menu-item">
  <img src="/static/chocolate_vinalla_popscile.jpg" alt="main4" class="food-image" style="width:250px; height:260px;" >
  <div class="food-details">
    <h3>Chocolate Vanilla Popsticle</h3>
    <p>Price: 130/-</p>
    <div class="rating">
      <p>Rating: <span class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
    </div>
    <label for="popsticle4">Quantity:</label>
    <div class="quantity-selector">
      <button class="quantity-btn" onclick="changeQuantity('-', 'popsticle4')">-</button>
      <input type="number" id="popsticle4" value="1" min="1" max="6">
      <button class="quantity-btn" onclick="changeQuantity('+', 'popsticle4')">+</button>
    </div>
    <button id="addToCartBtnpopsticle4" onclick="addToCart('Chocolate Vanilla Popsticle', 130, 'popsticle4','/static/chocolate_vinalla_popscile.jpg','The Vanilla Bean')" class="add-to-cart">Add to Cart</button>
  </div>
</div>


   </div>
    </div>
  </div>
  <script >
      function changeQuantity(operation, inputId) {
  var quantityInput = document.getElementById(inputId);
  var currentQuantity = parseInt(quantityInput.value);

  if (operation === '-' && currentQuantity > 1) {
    quantityInput.value = currentQuantity - 1;
  } else if (operation === '+' && currentQuantity < 6) {
    quantityInput.value = currentQuantity + 1;
  }
}

</script>

<script>
   function addToCart(name, price, quantityId, image, restaurant) {
    var quantityInput = document.getElementById(quantityId);
    var quantity = parseInt(quantityInput.value);

    // Create an object representing the item
    var item = {
        name: name,
        price: price,
        quantity: quantity,
        image: image,
        restaurant: restaurant  // Add the restaurant property
    };

    // Retrieve existing cart or create a new one
    var cart = JSON.parse(localStorage.getItem('cart')) || [];

    // Check if the item is already in the cart
    var existingItem = cart.find(i => i.name === name && i.restaurant === restaurant);
    if (existingItem) {
        // Update quantity if the item is already in the cart
        existingItem.quantity += quantity;
    } else {
        // Add the item to the cart if it's not already there
        cart.push(item);
    }

    // Save the updated cart to localStorage
    localStorage.setItem('cart', JSON.stringify(cart));

    // Update quantity in the restaurant page
    updateQuantityInRestaurantPage(name, quantity);

    // Change the button text to "Go to Cart" and style it
    var addToCartBtn = document.getElementById(`addToCartBtn${quantityId}`);
    if (addToCartBtn) {
        addToCartBtn.innerText = 'Go to Cart';
        addToCartBtn.style.backgroundColor = 'black';
        addToCartBtn.style.color = 'white';

        // Change the onclick action to redirect to the cart page
        addToCartBtn.onclick = function() {
            // Redirect to the cart page
            window.location.href = 'cart/';
            console.log('Redirecting to the cart page...');
        };

        // Optionally, provide feedback to the user that the item was added to the cart
        alert(`${quantity} ${name}(s) from ${restaurant} added to the cart!`);
    } else {
        console.error('Button not found:', `addToCartBtn${quantityId}`);
    }
}


// Function to update quantity in restaurant page
// Function to update quantity in the restaurant page
function updateQuantityInRestaurantPage(name, oldQuantity, newQuantity) {
    // Implement the logic to update quantity in the restaurant page
    var quantityInput = document.getElementById(`quantityInput_${name}`);
    if (quantityInput) {
        var currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity === oldQuantity) {
            quantityInput.value = newQuantity;
        }
    }
}

</script>
</body>
</html>
